#footer-wrap
  if theme.footer.list.enable
    - let projectList = theme.footer.list.project
    #anzhiyu-footer
      each item, index in projectList
        .footer-group
          .footer-title=item.title
          .footer-links
            each iten, indey in item.links
              a.footer-item(title=iten.title href=url_for(iten.link))=iten.title
      if theme.footer.list.randomFriends > 0
        .footer-group
          .footer-title-group
            .footer-title 友链
            a.random-friends-btn#footer-random-friends-btn(href="javascript:addFriendLinksInFooter();" title="换一批友情链接")
              i.anzhiyufont.anzhiyu-icon-arrow-rotate-right
          .footer-links#friend-links-in-footer
if theme.footer.footerBar && theme.footer.footerBar.enable
  #footer-bar
    .footer-bar-links
      .footer-bar-left
        #footer-bar-tips
          if theme.footer.owner.enable
            - var nowYear = new Date().getFullYear()
            - let authorLink = theme.footer.footerBar.authorLink ? theme.footer.footerBar.authorLink : config.url
            if theme.footer.owner.since && theme.footer.owner.since != nowYear
              .copyright!= `&copy;${theme.footer.owner.since} - ${nowYear} By `
                a.footer-bar-link(href=url_for(authorLink) title=config.author target="_blank")=config.author
            else
              .copyright!= `&copy;${nowYear} By ${config.author} `
      .footer-bar-right
        if theme.footer.bdageitem.enable
          each item in theme.footer.bdageitem.list
            a.github-badge(target='_blank' href=item.link style='margin-inline:5px' data-title=item.message title=item.message)
              img(src=item.shields alt=item.message)
        if theme.footer.footerBar.cc.enable 
          a.footer-bar-link.cc(href=url_for(theme.footer.footerBar.cc.link) title="cc协议")
            i.anzhiyufont.anzhiyu-icon-copyright-line
            i.anzhiyufont.anzhiyu-icon-creative-commons-by-line
            i.anzhiyufont.anzhiyu-icon-creative-commons-nc-line
            i.anzhiyufont.anzhiyu-icon-creative-commons-nd-line
